#aside {
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  height: 20%;
  margin-left: 3%;
  margin-top: 3%;
  border: 1px solid black;
  background-color: rgb(192, 191, 191);
  border-radius: 25px;
}

#aside > button {
  border: none;
  background-color: rgb(192, 191, 191);
  font-family: "Kanit", sans-serif;
  color: #15214e;
  font-size: 16px;
}

.asideElements:link,
#aside > button {
  margin: 5%;
  width: 70%;
  text-decoration: none;
  font-weight: bold;
  transition-property: color;
  transition-duration: 0.5s;
}

.asideElements:visited,
#aside > button:visited {
  color: #15214e;
}

.asideElements:hover,
#aside > button:hover {
  color: #0087a1;
}

.asideElements:active,
#aside > button:active {
  color: #0087a1;
}

#filterOptions {
  border: 1px solid #0087a1;
  border-radius: 25px;
  background-color: rgb(224, 224, 224);
  margin-left: 30%;
  margin-bottom: 10%;
  padding: 3%;
  color: #0087a1;
  justify-content: flex-end;
  text-align: left;
}

select {
  border: none;
  background-color: rgb(224, 224, 224);
}

select > option {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #15214e;
  transition: background-color 0.3s, color 0.3s;
}

select > option:hover {
  color: white;
  background-color: #15214e;
}

@media screen and (max-width: 894px) {
  #aside {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #aside {
    padding: 1%;
    margin-left: 15%;
  }

  #asideElements {
    width: 70%;
    display: block;
  }
}
